<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->

<head>

	<!--- basic page needs
   ================================================== -->
	<meta charset="utf-8">
	<title>XiongDu</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
 	================================================== -->
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/vendor.css">
	<link rel="stylesheet" href="css/main.css">

	<!-- script
   ================================================== -->
	<script src="js/modernizr.js"></script>
	<script src="js/pace.min.js"></script>

	<!-- favicons
   ================================================== -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">

	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>


<body id="top">

	<!-- header 
	================================================== -->
	<header>

		<div class="header-logo">
			<a href="index.html">Xiong Du</a>
		</div>

		<a id="header-menu-trigger" href="#0">
			<span class="header-menu-text">Menu</span>
			<span class="header-menu-icon"></span>
		</a>

		<nav id="menu-nav-wrap">

			<a href="#0" class="close-button" title="close"><span>Close</span></a>

			<h3>Eric Zhang.</h3>

			<ul class="nav-list">
				<li class="current"><a class="smoothscroll" href="#home" title="">Home</a></li>
				<li><a class="smoothscroll" href="#about" title="">About</a></li>
				<li><a class="smoothscroll" href="#skills" title="">Skills</a></li>
				<li><a class="smoothscroll" href="#credentials" title="">Experience</a></li>
				<li><a class="smoothscroll" href="#portfolio" title="">Works</a></li>
				<li><a class="smoothscroll" href="#stats" title="">Stats</a></li>
				<li><a class="smoothscroll" href="#contact" title="">Contact</a></li>
			</ul>

			<ul class="header-social-list">
				<li>
					<a href="https://www.facebook.com/profile.php?id=100015257477506" target="_blank"><i
							class="fa fa-facebook-square"></i></a>
				</li>
				<li>
					<a href="https://twitter.com/zhangzaq" target="_blank"><i class="fa fa-twitter"></i></a>
				</li>
				<li>
					<a href="#" target="_blank"><i class="fa fa-weibo"></i></a>
				</li>
				<li>
					<a href="#" target="_blank"><i class="fa fa-qq"></i></a>
				</li>
				<li>
					<a href="#" target="_blank"><i class="fa fa-wechat"></i></a>
				</li>
				<li>
					<a href="https://www.instagram.com/neil_zhn/" target="_blank"><i class="fa fa-instagram"></i></a>
				</li>
			</ul>

		</nav> <!-- end #menu-nav-wrap -->

	</header> <!-- end header -->


	<!-- home
	================================================== -->
	<video id="bgVideo" autoplay loop muted>
		<source src="./video/background.mp4" type="video/mp4">
		<!-- <source src="./video/backgroundwheat.mp4" type="video/mp4"> -->
		Your browser does not support the video tag.
	</video>
	<section id="home">

		<div class="overlay"></div>
		<div class="gradient-overlay"></div>

		<div class="home-content-table">

			<div class="home-content-tablecell">
				<div class="row">
					<div class="col-twelve">
						<div class="home-bottom-text">

							<h3 class="animate-intro">您好，面试官！</h3>
							<h1 class="animate-intro">
								我是熊都 <br>
								<!-- Graphic &amp; UI/UX Designer <br>
								Based in Manila Philippines.  -->
							</h1>

							<ul class="home-section-links">
								<li class="animate-intro">More <a href="#about" class="smoothscroll">个人简介</a></li>
								<!-- <li class="animate-intro">View <a href="#portfolio" class="smoothscroll">工作教育经历</a>
								</li> -->
								<li class="animate-intro">View <a href="#credentials" class="smoothscroll">工作教育经历</a>
								</li>
								<li class="animate-intro">Contact <a href="#contact" class="smoothscroll">联系我</a>
								</li>
							</ul>

						</div> <!-- end home-bottom-text -->
					</div> <!-- end col-twelve -->
				</div> <!-- end row -->
			</div> <!-- end home-content-tablecell -->
		</div> <!-- end home-content-table -->

		<a href="#about" class="scroll-icon smoothscroll">
			<span class="icon-DownArrow"></span>
		</a>

	</section> <!-- end home -->


	<!-- about
	================================================== -->
	<section id="about">

		<div class="about-profile-bg"></div>

		<div class="about-wrap">

			<div class="about-profile">

				<div class="about-profile-bg"></div>

				<div class="intro">
					<h3 class="animate-this">About</h3>
					<h1 class="animate-this">个人简介</h1>

					<!-- <p class="lead animate-this">Welcome to my page , you will see the different and interesting parts of my LIFE here !</p>					 -->
					<!-- <p class="lead animate-this">欢迎来到我的页面，您将在这里看到我的个人简介和经历！</p> -->

				</div>

				<p class="animate-this">
					各位面试官好，非常感谢你们的宝贵时间。我叫熊都，河南信阳人，今年25岁，目前在河南农业大学读研究生，
					预计明年7月份毕业，本科专业是计算机科学与技术，硕士专业是农业工程与信息技术。我曾有个一段实习经历，
					是在河南驭数软件科技有限公司研发部作为Java后端开发工程师，参与编程枪代码生成器平台的后台系统的开发。
					另外，我在学校也参与了一些学校和校企合作项目的开发，同时参与发表论文一篇，目前在投论文一篇。
					目前我的求职目标是软件后台开发，同时接受岗位调剂。我父母都是普通的农民，农忙种地，空闲务工。我个人性格沉稳，
					胆大心细。非常荣幸能够参加公司职位的面试.
				</p>
				<p class="animate-this">

				</p>
				<!-- <p class="animate-this">Lorem ipsum Minim nisi dolore proident Ut dolor quis deserunt voluptate Ut
					voluptate enim ut adipisicing fugiat cupidatat nisi adipisicing labore non adipisicing in sit
					proident. Ut in qui ea sint occaecat in commodo in in in incididunt ut
				</p> -->



				<div class="intro">
					<!-- <h3 class="animate-this">Services</h3> -->
					<h1 class="animate-this">求职期望</h1>

					<!-- <p class="lead animate-this">Lorem ipsum Ut eiusmod ex magna sit dolor esse adipisicing minim ad
						cupidatat eu veniam nostrud mollit laboris sunt magna velit. Ut dolor quis deserunt voluptate.
					</p> -->
				</div>
				<ul class="services">
					<li class="item-branding animate-this">
						<!-- <div class="icon-wrap">
							<i class="icon-RegisteredTrademark"></i>
						</div> -->
						<div class="service-item">
							<h4>JAVA后端开发</h4>
							<p>本科和硕士期间一直保持JAVA开发的基础知识学习,JAVA后端开发是我求职第一志愿.
							</p>
						</div>
					</li>
					<li class="item-branding animate-this">
						<!-- <div class="icon-wrap">
							<i class="icon-RegisteredTrademark"></i>
						</div> -->
						<div class="service-item">
							<h4>前端开发</h4>
							<p>能够使用HTML,CSS,JS,基于VUE构建过前端页面.
							</p>
						</div>
					</li>
				</ul>
				<p>
					<a href="#contact" class="button full-width animate-this smoothscroll">Contact Me</a>
					<!-- <a href="#" class="button button-primary full-width animate-this">Download CV</a>
					<a href="../blog" class="button full-width animate-this smoothscroll">博客</a> -->
				</p>
			</div> <!-- end about-profile  -->

			<div class="about-services">

				<div class="intro">
					<!-- <h3 class="animate-this">Services</h3> -->
					<h1 class="animate-this">专业技能</h1>

					<!-- <p class="lead animate-this">Lorem ipsum Ut eiusmod ex magna sit dolor esse adipisicing minim ad
						cupidatat eu veniam nostrud mollit laboris sunt magna velit. Ut dolor quis deserunt voluptate.
					</p> -->
				</div>

				<ul class="services">
					<!-- 技能1 -->
					<li class="item-branding animate-this">
						<div class="icon-wrap">
							<i class="icon-RegisteredTrademark"></i>
						</div>
						<div class="service-item">
							<!-- <h4>JAVA后端开发</h4> -->
							<p>良好的计算机基础。掌握数组、链表、栈、队列线性数据结构和树、图、堆、哈基表非线性数据结构的基本使用，能够利用搜索、排序、分治、回溯、动态规划、贪心等算法解决简单和中等问题。掌握计算机网络的基础知识。了解计算机组成原理与操作系统的基本概念。
							</p>
						</div>
					</li>
					<!-- 技能2 -->
					<li class="item-branding animate-this">
						<div class="icon-wrap">
							<i class="icon-RegisteredTrademark"></i>
						</div>
						<div class="service-item">
							<!-- <h4>JAVA后端开发</h4> -->
							<p>具备良好的面向对象编程思想，熟练掌握Java初级知识以及高级知识，熟悉多线程，集合框架，了解JVM的基础知识，熟悉常用的Java设计模式。掌握C语言的基本语法，能够使用Python。
							</p>
						</div>
					</li>
					<!-- 技能 -->
					<li class="item-branding animate-this">
						<div class="icon-wrap">
							<i class="icon-RegisteredTrademark"></i>
						</div>
						<div class="service-item">
							<!-- <h4>JAVA后端开发</h4> -->
							<p>熟悉MySQL数据库，能够熟练进行SQL开发，并且了解MySQL数据库的优化。能够使用Redix缓存技术
							</p>
						</div>
					</li>
					<!-- 技能 -->
					<li class="item-branding animate-this">
						<div class="icon-wrap">
							<i class="icon-RegisteredTrademark"></i>
						</div>
						<div class="service-item">
							<!-- <h4>JAVA后端开发</h4> -->
							<p>熟悉Linux操作系统，了解常用的Linux命令，具有简单的服务器管理知识
							</p>
						</div>
					</li>
					<!-- 技能 -->
					<li class="item-branding animate-this">
						<div class="icon-wrap">
							<i class="icon-RegisteredTrademark"></i>
						</div>
						<div class="service-item">
							<!-- <h4>JAVA后端开发</h4> -->
							<p>熟练使用 IntelliJ IDEA、VSCode开发工具，能够使用Eclipse、MyEclipse 开发工具
							</p>
						</div>
					</li>
					<li class="item-photography animate-this">
						<div class="icon-wrap">
							<i class="icon-Picture"></i>
						</div>
						<div class="service-item">
							<h4>Photography</h4>
							<p>Lorem ipsum Sit Ut eu Ut commodo velit ea et ex officia dolor laborum do in quis ut in
								occaecat non Duis ut sint voluptate esse consequat aute incididunt in voluptate
								incididunt.
							</p>
						</div>
					</li>
					<li class="item-webdesign animate-this">
						<div class="icon-wrap">
							<i class="icon-HTML"></i>
						</div>
						<div class="service-item">
							<h4>Web Design</h4>
							<p>Lorem ipsum Sit Ut eu Ut commodo velit ea et ex officia dolor laborum do in quis ut in
								occaecat non Duis ut sint voluptate esse consequat aute incididunt in voluptate
								incididunt.
							</p>
						</div>
					</li>
					<li class="item-uiux animate-this">
						<div class="icon-wrap">
							<i class="icon-Checked"></i>
						</div>
						<div class="service-item">
							<h4>UI/UX Design</h4>
							<p>Lorem ipsum Sit Ut eu Ut commodo velit ea et ex officia dolor laborum do in quis ut in
								occaecat non Duis ut sint voluptate esse consequat aute incididunt in voluptate
								incididunt.
							</p>
						</div>
					</li>
				</ul>

			</div> <!-- end about-services  -->

		</div> <!-- end about-wrap  -->


	</section> <!-- end about -->


	<!-- about
	================================================== -->
	<section id="skills">

		<div class="overlay"></div>
		<div class="gradient-overlay"></div>

		<div class="row wide">
			<div class="col-skills">

				<div class="section-intro">
					<h3 class="animate-this">Skillset</h3>
					<h1 class="animate-this">专业技能</h1>

					<p class="animate-this">
						本科毕业与计算机科学与技术专业，对计算机系统知识以及软件开发有一定的理论知识功底。硕士期间进一步深入学习计算机知识，多次参与学校和导师项目，具有多年程序开发经验。在校期间积极参加竞赛，有一定的算法基础。性格随和，吃苦耐劳，有良好的适应能力和沟通能力，具体很强的团队精神，高度的服从意识。自学能力较强，对编程开发有极大的兴趣和热情，希望将计算机开发作为终生职业。
					</p>
				</div>

				<ul class="skill-bars">
					<li class="animate-this" data-animate="fadeInRight">
						<div class="progress percent70"><span>70%</span></div>
						<strong>Java</strong>
					</li>
					<li class="animate-this" data-animate="fadeInRight">
						<div class="progress percent85"><span>85%</span></div>
						<strong>Mysql</strong>
					</li>
					<li class="animate-this" data-animate="fadeInRight">
						<div class="progress percent70"><span>70%</span></div>
						<strong>SpringBoot</strong>
					</li>
					<li class="animate-this" data-animate="fadeInRight">
						<div class="progress percent50"><span>50%</span></div>
						<strong>Redis</strong>
					</li>
					<li class="animate-this" data-animate="fadeInRight">
						<div class="progress percent50"><span>50%</span></div>
						<strong>Python</strong>
					</li>
					<li class="animate-this" data-animate="fadeInRight">
						<div class="progress percent50"><span>50%</span></div>
						<strong>Python</strong>
					</li>
					<li class="animate-this" data-animate="fadeInRight">
						<div class="progress percent50"><span>50%</span></div>
						<strong>Python</strong>
					</li>
				</ul>

			</div> <!-- end col-six -->
		</div> <!-- end row wide -->

	</section> <!-- end skills -->

	<!-- credentials
		================================================== -->
	<section id="credentials">

		<div class="row narrow section-intro with-bottom-sep">
			<div class="col-twelve">
				<h3 class="animate-this">Career and Education</h3>
				<h1 class="animate-this">More of My Credentials.</h1>

				<p class="lead">Lorem ipsum Dolor adipisicing nostrud et aute Excepteur amet commodo ea dolore irure
					esse Duis nulla sint fugiat cillum ullamco proident aliquip quis qui voluptate dolore veniam Ut
					laborum non est in officia.</p>
			</div>
		</div> <!-- end section-intro -->

		<div class="row wide credentials-content">

			<div class="col-six tab-full left">

				<h2 class="animate-this">实习和项目经历</h2>

				<div class="timeline-wrap">

					<div class="timeline-block animate-this">
						<div class="timeline-ico">
							<i class="fa fa-briefcase"></i>
						</div>
						<div class="timeline-header">
							<p class="timeframe">2021.05 - 2021.09</p>
							<h3>编程枪代码生成器-后台管理系统</h3>
							<h4>JAVA后端开发</h4>
						</div>
						<div class="timeline-content">
							<p>项目描述：编程枪代码生成器-后台管理系统是一个基于前后端分离的后台管理系统。主要技术为：SpringBoot+Vue+Mybatis+Mysql+Redis+Activiti+SpringValidation+Shrio
								职责与相关技术描述：为后台管理系统生成的模板代码增加对数据库增删改查、导入导出操作和后端数据校验。为后台管理系统整合阿里云短信服务和邮件服务，使用Shrio控制角色权限到按钮级别，整合工作流Activiti实现流程审批。

							</p>
						</div>
					</div> <!-- end timeline-block -->

					<div class="timeline-block animate-this">
						<div class="timeline-ico">
							<i class="fa fa-briefcase"></i>
						</div>
						<div class="timeline-header">
							<p class="timeframe">July 2014 - June 2015</p>
							<h3>Super Cool Agency</h3>
							<h4>Front-end Developer</h4>
						</div>
						<div class="timeline-desc">
							<p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur nisi
								cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident
								cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est
								occaecat nisi incididunt.</p>
						</div>
					</div> <!-- end timeline-block -->

					<div class="timeline-block animate-this">
						<div class="timeline-ico">
							<i class="fa fa-briefcase"></i>
						</div>
						<div class="timeline-header">
							<p class="timeframe">May 2013 - June 2014</p>
							<h3>Great Designs Studio</h3>
							<h4>Web Designer</h4>
						</div>
						<div class="timeline-content">
							<p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur nisi
								cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident
								cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est
								occaecat nisi incididunt.</p>
						</div>
					</div> <!-- end timeline-block -->

				</div> <!-- end timeline-wrap -->

			</div> <!-- end col-six -->

			<div class="col-six tab-full right">

				<h2 class="animate-this">教育经历</h2>

				<div class="timeline-wrap">

					<div class="timeline-block animate-this">
						<div class="timeline-ico">
							<i class="fa fa-graduation-cap"></i>
						</div>
						<div class="timeline-header">
							<p class="timeframe">2021.09 - 2024.07</p>
							<h3>河南农业大学</h3>
							<h3>农业工程与信息技术（计算机方向）</h3>
							<h4>硕士</h4>
						</div>
						<div class="timeline-content">
							<p>在硕士学习期间，我深入学习了一系列与信息技术相关的课程，如物联网技术与工程、分布式系统及云计算技术、农业信息技术、机器人技术等。积极参与导师项目和校企项目，锻炼了编写高效、可维护的代码的能力，并学会了如何应对实际问题和需求，编程能力得到进一步提高。
								硕士研究方向是数字孪生，这是一个将现实世界与数字世界相结合映射与实时决策反馈的领域。本人通过结合物联网技术、Web可视化技术和作物模型技术等搭建了小麦生产数字孪生系统,用以指导小麦数字化生产。同时跨界融合的研究不仅拓展了我的学术视野，还为我提供了解决实际问题的能力，使我能够更好地应对未来数字化转型和智能化决策制定的挑战。
							</p>
						</div>
					</div> <!-- end timeline-block -->

					<div class="timeline-block animate-this">
						<div class="timeline-ico">
							<i class="fa fa-graduation-cap"></i>
						</div>
						<div class="timeline-header">
							<p class="timeframe">2017.09 - 2021.06</p>
							<h3>河南农业大学</h3>
							<h3>计算机科学与技术（Java语言方向）</h3>
							<h4>学士</h4>
						</div>
						<div class="timeline-desc">
							<p>
								在校期间，通过学习高等数学、概率论与数理统计、线性代数、算法与数据结构、计算机网络、数据库系统及应用、计算机导论、操作系统、编译原理、Java程序设计、软件工程等课程,具备了一定的计算机基础知识，使得自己能够进行软件开发相关工作。
								本人的毕业设计题目为《基于SSM的校园匿名信息交流平台设计与实现》项目的主要功能是满足大学生校园交流的需要和通过关键词对交流内容进行监测，以实现关注大学心理健康的目的。具体工作如下:1.
								设计并开发了一个类似百度贴吧的发帖回复系统；2. 设计并开发了一个私聊系统来实现匿名信息交流；3. 设计并开发了一个后台监测模块实现敏感词提取；4.
								用JAVA语言编程开发了系统后端,利用JSP进行页面展示。

							</p>
						</div>
					</div> <!-- end timeline-block -->



				</div> <!-- end timeline-wrap -->

			</div> <!-- end col-six -->

		</div> <!-- end row wide -->

	</section> <!-- end credentials -->


	<!-- portfolio
	================================================== -->
	<section id="portfolio">

		<div class="row narrow section-intro with-bottom-sep">
			<div class="col-twelve">
				<h3 class="animate-this">Portfolio</h3>
				<h1 class="animate-this">See My Latest Projects.</h1>

				<p class="lead animate-this">Lorem ipsum Dolor adipisicing nostrud et aute Excepteur amet commodo ea
					dolore irure esse Duis nulla sint fugiat cillum ullamco proident aliquip quis qui voluptate dolore
					veniam Ut laborum non est in officia.</p>
			</div>
		</div> <!-- end row section-intro -->

		<div class="row portfolio-content">
			<div class="col-twelve">
				<div id="folio-wrap" class="bricks-wrapper">

					<div class="brick folio-item">
						<div class="item-wrap animate-this" data-src="images/portfolio/gallery/g-skaterboy.jpg"
							data-sub-html="#01">
							<a href="#" class="overlay">
								<img src="images/portfolio/skaterboy.jpg" alt="Skaterboy">
								<div class="item-text">
									<span class="folio-types">
										Web Development
									</span>
									<h3 class="folio-title">Skaterboy</h3>
								</div>
							</a>
							<a href="https://www.behance.net/" class='details-link' title="details">
								<i class="icon-UpRightArrow"></i>
							</a>
						</div> <!-- end item-wrap -->

						<div id="01" class='hide'>
							<h4>Skater Boy</h4>
							<p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt
								quis nulla voluptate fugiat velit. <a href="www.behance.net">Details</a></p>
						</div>
					</div> <!-- end folio-item -->

					<div class="brick folio-item">
						<div class="item-wrap animate-this" data-src="images/portfolio/gallery/g-shutterbug.jpg"
							data-sub-html="#02">
							<a href="#" class="overlay">
								<img src="images/portfolio/shutterbug.jpg" alt="Shutterbug">
								<div class="item-text">
									<span class="folio-types">
										Photography
									</span>
									<h3 class="folio-title">Shutterbug</h3>
								</div>
							</a>
							<a href="https://www.behance.net/" class='details-link' title="details">
								<i class="icon-UpRightArrow"></i>
							</a>
						</div> <!-- end item-wrap -->

						<div id="02" class='hide'>
							<h4>Shutterbug</h4>
							<p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt
								quis nulla voluptate fugiat velit. <a href="www.behance.net">Details</a></p>
						</div>
					</div> <!-- end folio-item -->

					<div class="brick folio-item">
						<div class="item-wrap animate-this" data-src="images/portfolio/gallery/g-explore.jpg"
							data-sub-html="#03">
							<a href="#" class="overlay">
								<img src="images/portfolio/explore.jpg" alt="Explore">
								<div class="item-text">
									<span class="folio-types">
										UI/UX Design
									</span>
									<h3 class="folio-title">Explore</h3>
								</div>
							</a>
							<a href="https://www.behance.net/" class='details-link' title="details">
								<i class="icon-UpRightArrow"></i>
							</a>
						</div> <!-- end item-wrap -->

						<div id="03" class='hide'>
							<h4>Explore</h4>
							<p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt
								quis nulla voluptate fugiat velit. <a href="www.behance.net">Details</a></p>
						</div>
					</div> <!-- end folio-item -->

					<div class="brick folio-item">
						<div class="item-wrap animate-this" data-src="images/portfolio/gallery/g-minimalismo.jpg"
							data-sub-html="#04">
							<a href="#" class="overlay">
								<img src="images/portfolio/minimalismo.jpg" alt="Minimalismo">
								<div class="item-text">
									<span class="folio-types">
										Web Design
									</span>
									<h3 class="folio-title">Minimalismo</h3>
								</div>
							</a>
							<a href="https://www.behance.net/" class='details-link' title="details">
								<i class="icon-UpRightArrow"></i>
							</a>
						</div> <!-- end item-wrap -->

						<div id="04" class='hide'>
							<h4>Minimalismo</h4>
							<p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt
								quis nulla voluptate fugiat velit. <a href="www.behance.net">Details</a></p>
						</div>
					</div> <!-- end folio-item -->

					<div class="brick folio-item">
						<div class="item-wrap animate-this" data-src="images/portfolio/gallery/g-bicycle.jpg"
							data-sub-html="#05">
							<a href="#" class="overlay">
								<img src="images/portfolio/bicycle.jpg" alt="Bicycle">
								<div class="item-text">
									<span class="folio-types">
										Branding
									</span>
									<h3 class="folio-title">Bicycle</h3>
								</div>
							</a>
							<a href="https://www.behance.net/" class='details-link' title="details">
								<i class="icon-UpRightArrow"></i>
							</a>
						</div> <!-- end item-wrap -->

						<div id="05" class='hide'>
							<h4>Bicycle</h4>
							<p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt
								quis nulla voluptate fugiat velit. <a href="www.behance.net">Details</a></p>
						</div>
					</div> <!-- end folio-item -->

					<div class="brick folio-item">
						<div class="item-wrap animate-this" data-src="images/portfolio/gallery/g-salad.jpg"
							data-sub-html="#06">
							<a href="#" class="overlay">
								<img src="images/portfolio/salad.jpg" alt="Salad">
								<div class="item-text">
									<span class="folio-types">
										Photography
									</span>
									<h3 class="folio-title">Salad</h3>
								</div>
							</a>
							<a href="https://www.behance.net/" class='details-link' title="details">
								<i class="icon-UpRightArrow"></i>
							</a>
						</div> <!-- end item-wrap -->

						<div id="06" class='hide'>
							<h4>Salad</h4>
							<p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt
								quis nulla voluptate fugiat velit. <a href="www.behance.net">Details</a></p>
						</div>
					</div> <!-- end folio-item -->

				</div> <!-- end folio-wrap -->
			</div> <!-- end twelve -->
		</div> <!-- end portfolio-content -->

	</section> <!-- end portfolio -->


	<!-- stats
	================================================== -->
	<section id="stats">

		<div class="row">
			<div class="col-twelve">
				<div class="block-1-4 block-tab-1-2 block-mob-full stats-list">

					<div class="bgrid stat">
						<div class="icon-part">
							<i class="icon-Briefcase"></i>
						</div>
						<h5 class="stat-title">
							Projects Completed
						</h5>
						<h3 class="stat-count">430</h3>
					</div> <!-- end stat -->

					<div class="bgrid stat">
						<div class="icon-part">
							<i class="icon-AddressBook"></i>
						</div>
						<h5 class="stat-title">
							Happy Clients
						</h5>
						<h3 class="stat-count">390</h3>
					</div> <!-- end stat -->

					<div class="bgrid stat">
						<div class="icon-part">
							<i class="icon-Diploma1"></i>
						</div>
						<h5 class="stat-title">
							Awards Received
						</h5>
						<h3 class="stat-count">100</h3>
					</div> <!-- end stat -->

					<div class="bgrid stat">
						<div class="icon-part">
							<i class="icon-Idea"></i>
						</div>
						<h5 class="stat-title">
							Crazy Ideas
						</h5>
						<h3 class="stat-count">120</h3>
					</div> <!-- end stat -->

				</div> <!-- end stats-list -->
			</div> <!-- end col-twelve -->
		</div> <!-- end row -->

	</section> <!-- end stats -->


	<!-- contact
	================================================== -->
	<section id="contact">

		<div class="overlay"></div>

		<div class="row narrow section-intro">
			<div class="col-twelve">
				<h3 class="animate-this">联系我</h3>
				<h1 class="animate-this">我正在寻找工作,如果我的简历能满足您的要求,请联系我!</h1>

				<!-- <p class="lead animate-this">Lorem ipsum Do commodo in proident enim in dolor cupidatat adipisicing
					dolore officia nisi aliqua incididunt Ut veniam lorem ipsum Consectetur ut in in eu do.</p> -->
			</div>
		</div> <!-- end section-intro -->

		<div class="row contact-form">
			<div class="col-twelve">

				<!-- form -->
				<form name="contactForm" id="contactForm" method="get">


					<div class="form-field animate-this">
						<input v-model="offer.contactName" name="contactName" type="text" id="contactName"
							placeholder="姓名" value="" minlength="2" required="">

					</div>

					<div class="form-field animate-this">
						<input v-model="offer.contactEmail" name="contactEmail" type="email" id="contactEmail"
							placeholder="邮箱" value="" required="">
					</div>
					<div class="form-field animate-this">
						<input v-model="offer.contactSubject" name="contactSubject" type="text" id="contactSubject"
							placeholder="公司" value="">
					</div>
					<div class="form-field animate-this">
						<textarea v-model="offer.contactMessage" name="contactMessage" id="contactMessage"
							placeholder="信息" rows="10" cols="50" required=""></textarea>
					</div>
					<div class="form-field animate-this">
						<!-- <button class="submitform" type="submit">Submit</button> -->
						<!-- <button class="submitform" v-on:click="save">提交</button> -->

						<div id="submit-loader">
							<div class="text-loader">Sending...</div>
							<div class="s-loader">
								<div class="bounce1"></div>
								<div class="bounce2"></div>
								<div class="bounce3"></div>
							</div>
						</div>
					</div>


				</form> <!-- Form End -->

				<!-- contact-warning -->
				<div id="message-warning"></div>

				<!-- contact-success -->
				<div id="message-success">
					<i class="fa fa-check"></i>Your message was sent, thank you!<br>
				</div>

			</div> <!-- end col-twelve -->
		</div> <!-- end row contact-form -->
		<script>
			let vm = new Vue({
				el: "#contact",
				data: {
					num: 0,
					offer: {
						contactName: "",
						contactEmail: "",
						contactSubject: "",
						contactMessage: ""
					}
				},
				methods: {
					hello() {
						alert("提示：呼出一次");
					},
					hello1() {
						alert(this.offer.contactEmail);
						console.log(this.offer);
					},
					save() {

						axios({
							method: 'get',//提交方法
							url: 'http://127.0.0.1:9027/save',//提交地址
							data: offer
						}).then((res) => {
							console.log(res);
							alert(res);
						})
						// 向给定ID的用户发起请求
						//axios.defaults.headers.post['Content-Type'] ='application/x-www-form-urlencoded';
						// axios.get('http://1.15.92.207:8080/realTimeData/allRealTimeData', {
						// 	// withCredentials: false,
						// 	headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
						// 	// params: {
						// 	// 	access_token: SECRET_TOKEN,
						// 	// },
						// })
						// 	.then(function (response) {
						// 		// 处理成功情况
						// 		console.log(response);
						// 	})
						// 	.catch(function (error) {
						// 		// 处理错误情况
						// 		console.log(error);
						// 	})
						// 	.finally(function () {
						// 		// 总是会执行
						// 	});
						// axios.jsonp(url, {
						// 	params: {
						// 		callback: 'jsonpCallback'
						// 	}
						// }).then(response => {
						// 	console.log(response.data);
						// });
					}
				}
			});
		</script>
		<div class="row contact-info">

			<div class="col-four tab-full">
				<h5 class="animate-this">Where to find me</h5>

				<p class="animate-this">
					Somewhere in Shanghai<br>
					China
				</p>
			</div> <!-- end col-four -->

			<div class="col-four tab-full collapse">
				<h5 class="animate-this">Email Me At</h5>

				<p class="animate-this">
					824695591@QQ.com<br>
					zhanghaonan@eigpay.com
				</p>
			</div> <!-- end col-four -->

			<div class="col-four tab-full">
				<h5 class="animate-this">Contact Me At</h5>

				<p class="animate-this">
					Phone: (+86) 13065183253<br>
				</p>
			</div> <!-- end col-four -->

		</div> <!-- end row contact-info -->

	</section> <!-- end contact -->


	<!-- footer
	================================================== -->
	<footer>
		<div class="row">
			<!-- 屏蔽掉联系方式，因为我并没有拿的出手的个人博客，一起其它平台的博客 -->
			<!-- <div class="col-twelve tab-full social">
				<ul class="footer-social">
					<li><a href="https://www.facebook.com/profile.php?id=100015257477506" target="_blank">Facebook</a>
					</li>
					<li><a href="https://twitter.com/zhangzaq" target="_blank">Twitter</a></li>
					<li><a href="#" target="_blank">Weibo</a></li>
					<li><a href="#" target="_blank">QQ</a></li>
					<li><a href="#" target="_blank">WeChat</a></li>
					<li><a href="https://www.instagram.com/neil_zhn/" target="_blank">Instagram</a></li>
				</ul>
			</div> -->

			<div class="col-twelve tab-full">
				<div class="copyright">
					<span>© Copyright Du Xiong 2023.</span>
				</div>
			</div>

		</div>

		<div id="go-top">
			<a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-UpArrow"></i></a>
		</div>
	</footer>

	<div id="preloader">
		<div id="loader"></div>
	</div>

	<!-- Java Script
	================================================== -->
	<script src="js/jquery-2.1.3.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/main.js"></script>

</body>

</html>